.bold-horse {
  text-align: center;
  font-weight: bold;
}
.sc-1 {
  background-color: red;
  color: white;
}
.sc-2 {
  background-color: white;
  color: black;
}
.sc-3 {
  background-color: blue;
  color: white;
}
.sc-4 {
  background-color: yellow;
  color: black;
}
.sc-5 {
  background-color: green;
  color: white;
}
.sc-6 {
  background-color: black;
  color: gold;
}
.sc-7 {
  background-color: orange;
  color: black;
}
.sc-8 {
  background-color: pink;
  color: black;
}
.sc-9 {
  background-color: turquoise;
  color: black;
}
.sc-10 {
  background-color: purple;
  color: white;
}
.sc-11 {
  background-color: lightgrey;
  color: red;
}
.sc-12 {
  background-color: lime;
  color: black;
}
.sc-13 {
  background-color: brown;
  color: white;
}
.sc-14 {
  background-color: maroon;
  color: yellow;
}
.sc-15 {
  background-color: khaki;
  color: black;
}
.sc-16 {
  background-color: lightblue;
  color: red;
}
.sc-17 {
  background-color: navy;
  color: white;
}
.sc-18 {
  background-color: darkgreen;
  color: yellow;
}
.sc-19 {
  background-color: mediumblue;
  color: red;
}
.sc-20 {
  background-color: fushia;
  color: yellow;
}
.sc-21 {
  background-color: fushia;
  color: navy;
}
